@page
@model proLanguages.Pages_programming.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proLanguage[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proLanguage[0].releaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proLanguage[0].developBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proLanguage[0].usedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.proLanguage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.developBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
